.amenities-section {
    max-width: 900px;
    margin: auto;
}

.amenity-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;

}

.amenity-list {

    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 21.79px;
text-align: left;
color: rgba(128, 128, 128, 1);


    
}

.amenity-list li {
    margin-bottom: 5px;
    font-size: 16px;
}

.amenities-section .col-md-4 {
    margin-bottom: 20px;
}
